.watch-left {
    flex: 1;
}

.watch-left .video-player {
    width: 100%;
}

.watch-left .hide-media{
    width: 100%;
    height: 0;
    padding-bottom: 50%;
    background-color: #030303;
    position: relative;
}

.watch-left .hide-media p{
    position: absolute;
    top: 45%;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    font-size: 2vw;
    font-weight: bold;
    color: #ffffff;
}

.video-primary-info-renderer {
    padding-top: 16px;
    padding-bottom: 8px;
    border-bottom: 1px solid #d1d1d1;
}

.video-primary-info-renderer .upper-wrapper {
    display: flex;
    justify-content: space-between;
    height: 32px;
}

.video-primary-info-renderer .upper-wrapper .video-title {
    word-break: break-all;
    color: #030303;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin: 0;
}

.video-primary-info-renderer .lower-wrapper {
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    color: #606060;
}

.video-primary-info-renderer .lower-wrapper .views,
.video-primary-info-renderer .lower-wrapper .dot,
.video-primary-info-renderer .lower-wrapper .upload-date {
    line-height: 21px;
}

.video-primary-info-renderer .lower-wrapper .right-wrapper {
    display: flex;
    align-items: center;
}

.watch-left-btn {
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    padding: 8px;
    color: #606060;
    outline: none !important;
}

.watch-left-btn:hover,
.watch-left-btn:hover i {
    color: #7a3374;
}

.clicked {
    color: #7a3374;
}

.watch-left-btn i {
    font-size: 20px;
    padding-right: 8px;
}

.right-wrapper span {
    margin-right: 6px;
}

.right-wrapper span:last-child {
    margin: 0;
}

.video-secondary-info-renderer {
    padding-bottom: 10px;
    border-bottom: 1px solid #d1d1d1;
}

.video-secondary-info-renderer .upper-wrapper {
    width: 100%;
    height: 50px;
    margin: 16px 0 8px 0;
    display: flex;
    justify-content: flex-start;

}

.video-secondary-info-renderer .upper-wrapper .video-owner-page-link {
    width: 65px;
    height: 100%;
    display: block;
}

.video-owner-page-link img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.video-secondary-info-renderer .upper-wrapper .upload-info {
    flex-grow: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.upload-info a.video-owner-name {
    display: block;
    font-size: 14px;
    font-weight: 500;
    color: #030303;
    text-decoration: none;
}

.upload-info .subscriber-count {
    font-size: 13px;
    font-weight: 500;
    color: #606060;
}

.upper-wrapper .btn-wrapper {
    padding: 10px 0 10px 16px;
}

.video-secondary-info-renderer .lower-wrapper {
    width: 100%;
    padding-left: 64px;
}

.video-secondary-info-renderer .lower-wrapper p {
    font-size: 14px;
    font-weight: 400;
    color: #030303;
    margin: 0;
}

.video-secondary-info-renderer .lower-wrapper #dot {
    display: inline;
}

.video-secondary-info-renderer .lower-wrapper #more {
    display: none;
}

.show-more-btn,
.reply-btn {
    font-size: 12px;
    font-weight: 500;
    color: #606060;
    cursor: pointer;
}

.show-more-btn {
    margin-right: 8px;
}

.comments-section {
    margin: 24px 0 32px 0;
}

.comments-wrapper {
    margin-top: 24px;
}

.comments-header-renderer .comment-count {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #030303;
}

.comments-header-renderer .comment-box {
    display: flex;
    margin-top: 24px;
}

.comment-box .user-page-link img {
    margin-right: 16px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.comment-box .comment-editor-wrapper {
    flex-grow: 1;
}

#comment_editor,
#reply_editor {
    margin-bottom: 8px;
    word-break: break-all;
    border-bottom: 1px solid #d1d1d1;
    outline: none;
    min-height: 24px;
    line-height: 24px;
    color: #d1d1d1;
}

#comment_editor.is-focus,
#reply_editor.is-focus {
    border-bottom: thin solid #7a3374;
    outline: none;
    color: #030303;
}

.comment-box .comment-editor-wrapper .button-wrapper,
.reply-box .reply-editor-wrapper .button-wrapper {
    display: flex;
    justify-content: flex-end;
}

.button-wrapper #cancel_comment,
.button-wrapper #cancel_reply {
    margin-right: 8px;
    color: #d1d1d1;
}

.comments-wrapper .comment-box {
    margin-bottom: 16px;
    display: flex;
}

.comments-wrapper .comment-box .comment-renderer,
.replies-wrapper .reply-box .reply-renderer {
    flex-grow: 1;
}

.comment-renderer .comment-info-header,
.reply-renderer .reply-info-header {
    width: 100%;
}

.comment-renderer .comment-info-header a,
.reply-renderer .reply-info-header a {
    text-decoration: none;
}

.comment-renderer .comment-info-header .comment-user-name,
.reply-renderer .reply-info-header .reply-user-name {
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
    color: #030303;
    text-decoration: none;
}

.comment-renderer .comment-info-header .comment-time-span,
.reply-renderer .reply-info-header .reply-time-span {
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    color: #606060;
}

.content-text {
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #030303;
    word-break: break-all;
    white-space: pre-wrap;
}

.content-text #dot {
    display: inline;
}

.content-text #more {
    display: none;
}

.loading-image-wrapper {
    text-align: center;
}

.loading-image-wrapper .loading-image {
    width: 24px;
    height: 24px;
}

.no-more-data {
    width: 100%;
    height: 20px;
    line-height: 20px;
    font-size: 13px;
    font-weight: 600;
    color: #d1d1d1;
    text-align: center;
}

.reply-box {
    display: flex;
}

.reply-box .user-page-link img {
    margin-right: 16px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.reply-box .reply-editor-wrapper {
    flex-grow: 1;
}


.suggestion {
    max-width: 425px;
    margin-left: 24px;
    margin-bottom: 8px;
    padding-right: 24px;
    flex-grow: 1;
}

.suggestion .reco-header{
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    color: #030303;
    padding: 4px 0 16px 0;
}

.suggestion .reco-video-wrapper {
    display: flex;
    width: 100%;
    height: 94px;
    margin-bottom: 8px;
}

.reco-videos-container{
    width: 100%;
}

.reco-videos-container .left {
    display: block;
    width: 168px;
    height: 100%;
    margin-right: 8px;
}

.reco-videos-container .left img {
    height: 100%;
}

.reco-videos-container .left .reco-video-duration {
    position: relative;
    float: right;
    right: 4px;
    bottom: 18px;
    background-color: #030303;
    font-size: 12px;
    font-weight: 500;
    line-height: 12px;
    color: #ffffff;
    outline: none;
    text-decoration: none;
}

.reco-videos-container .right {
    width: 100%;
}

.reco-videos-container .right a{
    display: block;
    width: 100%;
    outline: none;
    text-decoration: none;
}

.reco-videos-container .right a .reco-video-title {
    margin: 0 0 4px 0;
    display: -webkit-box;
    max-height: 32px;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    word-break: break-word;
    -webkit-line-clamp: 2;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    color: #030303;
}

.reco-videos-container .right a .reco-video-owner,
.reco-videos-container .right a .reco-video-views,
.reco-videos-container .right a .dot,
.reco-videos-container .right a .reco-video-upload-date{
    font-size: 13px;
    font-weight: 400;
    line-height: 13px;
    color: #606060;
}
